$bg-sec: #ffee00;
$bg-prm2: #313841;
$bg-prm: #495565;
$bg-spec: #f1f2f3;

$color-sec: #363f48;
$color-prm: #fff;
$color-text: #55606e;
$color-disabled: #b3b3b1;

$bor-rad: 5px;
$border: solid 1px rgba(0, 0, 0, 0.15);

$fz-h1: 60px;
$fz-h2: 48px;
$fz-h3: 36px;
$fz-h4: 24px;
$fz-h5: 21px;
$fz-intro: 21px;
$fz-text: 14px;
$fz-btn: 14px;

$bx-sh-prm: inset 0px 1px 0 0 rgba(255, 255, 255, 0.25);
$bx-sh-sec: 0px 1px 0 0 rgba(0, 0, 0, 0.14),
  inset 0px 1px 0 0 rgba(255, 255, 255, 0.04);

$transition: all 0.4s ease;

$sm: (
  min-width: 576px
);
$md: (
  min-width: 768px
);
$lg: (
  min-width: 992px
);
$xl: (
  min-width: 1200px
);